.options {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000000;
}

.options__list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.options__button {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #ff6c00;
	border-radius: 25px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;

	background-color: transparent;
	color: #303030;

	cursor: pointer;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.options__button:hover,
.options__button:focus {
	color: #ffffff;
	border-color: transparent;
	background-color: #ff6c00;
}
.options__button:focus,
.options__button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
